*
    box-sizing: border-box
.box
    border: 1px solid #000
    border-radius: 5px
    &es
        display: grid
        gap: 20px
        grid: repeat(2, 400px) / repeat(3, 1fr)
        max-width: 1200px
        width: 90%
        margin: 50px auto
    &-big
        display: grid
        grid: 1fr / 400px auto
        grid-column: span 2
        column-gap: 20px
        overflow: hidden
        padding-right: 20px
        &__preview
            background-color: #f0f
        &__info
            align-self: center
    &-small
        display: grid
        grid: 250px auto / 1fr
        column-gap: 20px
        overflow: hidden
        &__preview
            background-color: #0f0
        &__info
            align-self: center
    &-big,
    &-small
        &__info
            padding: 20px
@media (max-width: 1200px)
    .box
        &es
            grid: repeat(3, 400px) / repeat(2, 1fr)
            max-width: 800px
@media (max-width: 768px)
    .box
        &-big
            grid: 250px auto / 1fr
            padding-right: 0
        &-small
            grid: 200px auto / 1fr
@media (max-width: 576px)
    .box
        &es
            grid: repeat(4, auto) / 1fr
        &-big
            grid-column: unset
        &-big,
        &-small
            grid: 200px auto / 1fr
            &__info
                max-width: unset
